/*
Theme Name: Twenty Twenty Child Theme
Theme URI: https://example.com
Description: A child theme for Twenty Twenty.
Author: Your Name
Author URI: https://example.com/
Template: twentytwenty
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
*/

body {
	font-family: 'Raleway', sans-serif;
}
#site-content {
    background-color: #fff;
}
.section-inner {
	width: 100%;
	max-width: 1381px;
	margin: 0 auto;
	padding: 0 10px;
}
h2 {
	font-size: 36px;
	line-height: normal;
	color: #065f79;
	font-weight: 500;
}

/*** header css ***/
.site-header-wrap {
    background-color: #e7f4f7;
	border-top: 18px solid #065f79;
}
.site-header-wrap header#site-header {
    background-color: transparent;
}
.site-header-wrap header#site-header .header-inner {
	padding: 30px 0 27px;
}
.header-inner .toggle svg {
	max-width: 18px;
}
.header-inner .toggle svg path {
	color: #000000;
}
.search-icon {
	display: inline-block;
	width: 18px;
	height: 22px;
	background-image: url(img/icon-search.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
	top: 2px;
}
.toggle-text {
    display: none;
}
.header-inner .toggle-wrapper:before {
	display: none;
}
.header-toggles {
    margin-right: 0;
}
.header-toggles .toggle {
    padding: 0;
    height: auto;
    margin: 0 22px 0 38px;
}
ul.primary-menu {
    margin: 0;
    letter-spacing: 0;
}
.primary-menu > li {
    margin: 0 0 0 16px;
}
.site-header-wrap .primary-menu > li > a {
    font-size: 18px;
    color: #000 !important;
    font-weight: 500;
}
.site-header-wrap .primary-menu > li > a:hover {
	color: #000 !important;
	text-decoration: none !important;
}

@media (min-width: 1220px) {
	.primary-menu > li {
	    margin: 0 0 0 43px;
	}
}

.site-intro-wrap .section-inner {
	padding-top: 40px;
	padding-bottom: 40px;
}
.siw-content-wrap {
    display: flex;
    flex-wrap: wrap;
}
.siw-left {
    float: left;
    width: 100%;
}
.siw-heading {
    font-size: 35px;
    line-height: normal;
    font-weight: 700;
    margin: 0;
}
.siw-right {
    float: left;
    width: 100%;
    padding-top: 5px;
}
.siw-right p {
    font-size: 20px;
    line-height: normal;
    color: #065f79;
    font-weight: 600;
    margin: 0 0 32px;
}
.siw-right p:last-child() {
	margin: 0;
}
@media (min-width:1200px) {
	.site-intro-wrap .section-inner {
		padding-top: 78px;
		padding-bottom: 84px;
	}
	.siw-left {
	    float: left;
	    width: 27%;
	}
	.siw-right {
	    float: left;
	    width: 73%;
	    padding-right: 18%;
	    padding-left: 11px;
	    padding-top: 5px;
	}
	.siw-heading {
	    font-size: 48px;
	}
	.siw-right p {
		font-size: 24px;
	}
}

/*** Electric Car Section ***/
.electric-car-section .section-inner {
	padding-top: 40px;
}
.ecs-wrap {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 20px;
    
}
.ecs-wrap img {
    opacity: 0;
    visibility: hidden;
	min-height: 400px;
}
.ecs-content-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    max-width: 812px;
    margin: 0 auto;
    color: #fff;
    padding: 50px 10px;
}
.ecs-heading {
    color: #e7f4f7;
    font-size: 36px;
    line-height: normal;
    font-weight: 500;
    margin: 0 0 22px;
}
.ecs-content {
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    font-weight: 500;
    margin: 0 0 20px;
}
.btn {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    text-decoration: none;
    background-color: #065f79;
    padding: 9px 20px;
    border-radius: 3px;
    min-width: 203px;
    display: inline-block;
    text-align: center;
    transition: all 0.2s linear;
}
.btn:hover {
	background-color: #282828;
	color: #fff;
}
.btn-secondary {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #065f79;
    text-decoration: none;
    background-color: #e7f4f7;
    padding: 9px 20px;
    border-radius: 3px;
    min-width: 203px;
    display: inline-block;
    text-align: center;
    transition: all 0.2s linear;
}
.btn-secondary:hover {
	background-color: #065f79;
	color: #fff;
}

/*** Industry Career Section ***/
.industry-career-section .section-inner {
	padding-top: 49px;
}
.ics-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
}
.ics-wrap > div {
    float: left;
    width: 100%;
    padding-left: 50px;
    padding-bottom: 50px;
}
.ics-item {
    display: block;
    line-height: 0;
    background-color: #e7f4f7;
	box-shadow: 0 0 46px rgba(0, 0, 0, 0.23);
	border-radius: 3px;
    overflow: hidden;
}
.ics-image {
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
@media (min-width:768px) {
	.ics-image {
		max-height: 327px;
    	overflow: hidden;
    }
}
.ics-content {
    display: block;
    padding: 20px;
}
.ics-title {
    font-size: 36px;
    line-height: normal;
    margin: 0 0 28px;
    font-weight: 500;
    color: #065f79;
}
.ics-content p {
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    color: #282828;
    margin: 0 0 49px;
}
@media (min-width:768px) {
	.ics-wrap > div {
		width: 50%;
	}
	.ics-content {
		padding: 29px 67px 40px 64px;
	}
}
@media (min-width:1200px) {
	.electric-car-section .section-inner {
		padding-top: 149px;
	}
	.ics-content {
		padding: 29px 23% 40px 64px;
	}
}

/*** News Section ***/
.news-section .section-inner {
	padding-top: 0;
	padding-bottom: 20px;
}
.ns-heading {
    text-align: center;
    margin-bottom: 52px;
}
.ns-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
}
.ns-wrap > div {
    float: left;
    width: 100%;
    padding-left: 50px;
    padding-bottom: 20px;
}
.nsw-item {
    display: block;
    line-height: 0;
    background-color: #e7f4f7;
	border-radius: 3px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    height: 100%;
}

.nsw-left .nsw-item {
    height: calc(100% - 50px);
}
@media (max-width:767px) {
	.nsw-item, .nsw-left .nsw-item {
		height: auto;
	}
	.ns-heading {
		margin-top: 0;
	}
}
@media (min-width:767px) {
	.ns-wrap > div {
		padding-bottom: 50px;
	}
	.news-section .section-inner {
		padding-top: 54px;
		padding-bottom: 48px;
	}
}
.nsw-item time {
    font-size: 16px;
    line-height: normal;
    color: #282828;
    font-weight: 600;
}
.nsw-title {
    font-size: 30px;
    line-height: normal;
    color: #065f79;
    margin: 24px 0 20px;
    font-weight: 500;
}
.nsw-title a {
    color: #065f79;
    text-decoration: none;
}
.nsw-title a:hover {
    color: #282828;
}
.nsw-text {
    display: block;
    margin: 0 0 48px;
}
.nsw-text p {
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    margin: 0;
}
.nsw-item-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
}
.nsw-item-wrap > div {
    float: left;
    width: 100%;
    padding-left: 50px;
    margin-bottom: 20px;
}

.nsw-right h3.nsw-title {
    font-size: 18px;
    color: #282828;
    margin: 20px 0 0;
}
.nsw-right h3.nsw-title a {
    color: #282828;
    text-decoration: none;
}

.nsw-right h3.nsw-title a:hover {
    color: #065f79;
}
.nsw-link {
	display: inline-block;
	background-image: url(img/icon-link.png);
	width: 22px;
    height: 16px;
    font-size: 0;
    position: absolute;
    right: 31px;
    bottom: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nsw-link:hover {
	background-image: url(img/icon-link-hover.png);
}

@media (min-width:768px) {
	.ns-wrap > div, .nsw-item-wrap > div {
		width: 50%;
	}
	.nsw-item-wrap > div {
		margin-bottom: 48px;
	}
}
@media (min-width:1200px) {
	.nsw-item {
		padding: 57px 84px 56px 56px;
	}
	.nsw-text {
		padding-right: 9%;
	}
	.nsw-right .nsw-item {
	    padding: 39px 46px 43px;
	}
}
.footer-top-hidden #site-footer {
    margin: 0;
    padding: 54px 0 45px;
}
footer#site-footer {
    background-color: #065f79;
    color: #fff;
}
.footer-copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
}
.footer-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}
.footer-nav ul li {
    font-size: 18px;
    line-height: normal;
    color: #fff;
    margin: 0 0 0 42px;
}
#site-footer .footer-nav ul li a {
    color: #fff;
    text-decoration: none;
}
#site-footer .footer-nav ul li a:hover {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}
@media (max-width:1200px) {
	#site-footer .section-inner {
		display: block;
		text-align: center;
	}
	.footer-credits {
		text-align: center;
		margin: 0 0 20px;
	}
	.footer-nav ul {
		flex-wrap: wrap;
    	justify-content: center;
	}
}
.hero-slider {}
.hero-slider .slick-track {
	display: flex;
}
.hero-slider .slick-track .slick-slide {
	height: auto;
}
.hero-slider .slick-track .slick-slide > div{
	height: 100%;
}
.slider-items {
	height: 100%;
    position: relative;
    max-height: 675px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 37%;
}
.slider-items img {
    opacity: 0;
    visibility: hidden;
}
.siws-content-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 28.5%;
    text-align: center;
}
.siws-content-wrap h1 {
	font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1px;
}
@media (min-width:768px) {
	.siws-content-wrap h1 {
		font-size: 45px;
	}
}
@media (min-width:1200px) {
	.siws-content-wrap h1 {
		font-size: 72px;
	}
}
.slick-prev:before, .slick-next:before {
    content: "";
    background-image: url(img/slider-arrow.png);
    width: 11px;
    height: 19px;
    display: block;
    margin: 0 auto;
}
.slick-next:before {
	transform: rotate(180deg);
}
.modal-menu > li > a, .modal-menu > li > .ancestor-wrapper > a {
    color: #fff;
    letter-spacing: 0;
    font-size: 18px;
}